html {
      scroll-behavior: smooth;
    }
    .home-btn{
  position:fixed;
  bottom:15px;
  right:15px;

  background:#3B82F6;
  color:white;

  padding:15px;
  border-radius:50%;

  font-size:30px;

  text-decoration:none;
}
    * {
      margin:0px;
      padding:0px;
      
      box-sizing:border-box;
    }
    body {
      background-color:#0F172A;
      font-family:poppins;
    }
      section {
        padding:80px 10%;
      }
      nav{
        display:flex;
        justify-content:space-between;
        align-items:center;

       padding:15px 20px;
}
.menu-btn {
  font-size:25px;
  
  color:white;
}

#nav-links{
  position:absolute;
  top:50px;
  right:-250px;
  gap:30px;
  
  background:#3B82F6;
  width:220px;
  
  font-size:20px;
  
  display:none;
  flex-direction:column;
  align-items:flex-start;
  
  border-radius:10px;
  padding:10px;
  
}
#nav-links a {
  display:block;
  width:100%;
  padding:10px;
  color:white;
  text-decoration:none;
}
#nav-links.active {
  max-height:600px;
  display:flex;
  right:0;
}
#nav-links li{
  list-style:none;
  width:100%;
}
.logo {
  font-size:30px;
  color:white;
}
#hero{
  text-align:center;
  padding-top:150px;
}

#hero h1{
  font-size:60px;
  color:white;
}

#hero h2{
  color:#38BDF8;
  margin-top:10px;
}

#hero p{
  color:#94A3B8;
  margin-top:20px;
  font-size:18px;
}
      #hero {
        background-color:#111827;
        color:#FFFFFF;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      }
      @media(max-width:768px){
  #hero h1{
    font-size:40px;
  }
      #about {
        background-color: #111827;
        color:#FFFFFF;
      }
      #skills {
        background-color:#1E293B;
        color:#22D3EE;
      }
      #projects {
        background-color:#0F172A;
        color:#60A5FA;
      }
      #goals {
        background-color:#111827;
        color:#A78BFA;
      }
      #additional {
        background-color:#1E293B;
        color:#F8FAFC;
      }
      #contact {
        background-color:#1E293B;
        color:white;
      }
      #resume {
        background-color:#0F172A;
        color:#A78BFA;
      }
      button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#3B82F6;
  color:white;
  cursor:pointer;
  margin:10px;
  transition:0.3s;
  font-weight:bold;
}

button:hover{
  background:#2563EB;
  transform:scale(1.05);
}
      span {
        color:#38BDF8
      }
      .card{
  background:#1E293B;
  margin-top:10px;
  padding:25px;
  border-radius:20px;
  max-width:300px;
  width:100%;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #38BDF8;
}
a {
  text-decoration:none;
  color:violet;
}
i{
  font-size:30px;
  color:white;
  margin:10px;
  transition:0.3s;
}

i:hover{
  color:#38BDF8;
  transform:scale(1.2);
}
.skills-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

footer{
  background:#020617;

  padding:20px;

  text-align:center;

  color:#94A3B8;
}
  .skills-container{
    flex-direction:column;
  }

}
.text{
  color:#38BDF8;
  font-weight:bold;
}
.projects-container{
 display:flex;
 gap:20px;
 flex-wrap:wrap;
}
#contact{
 text-align:center;
}
.contact-icons{
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 gap:15px;
}
.fa-html5{
 color:#E34F26;
}

.fa-css3-alt{
 color:#1572B6;
}

.fa-js{
 color:#F7DF1E;
}