html {
      scroll-behavior: smooth;
    }
    .home-btn{
  position:fixed;
  bottom:20px;
  right:20px;

  background:#3B82F6;
  color:white;

  padding:15px;
  border-radius:50%;

  font-size:25px;

  text-decoration:none;
}
    * {
      margin:0px;
      padding:0px;
      box-sizing:border-box;
    }
    body {
      background-color:#0F172A;
      font-family:poppins;
    }
      section {
        padding:80px 10%;
      }
      nav{
  position:sticky;
  top:0;
  z-index:1000;

  background:rgba(15,23,42,0.9);

  backdrop-filter:blur(10px);

  padding:20px;
  text-align:center;
}

nav a{
  color:#38BDF8;
  margin:15px;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

nav a:hover{
  color:white;
}
#hero{
  text-align:center;
  padding-top:150px;
}

#hero h1{
  font-size:60px;
  color:white;
}

#hero h2{
  color:#38BDF8;
  margin-top:10px;
}

#hero p{
  color:#94A3B8;
  margin-top:20px;
  font-size:18px;
}
      #hero {
        background-color:#111827;
        color:#FFFFFF;
 min-height:100vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
      }
      #about {
        background-color: #111827;
        color:#FFFFFF;
      }
      #skills {
        background-color:#1E293B;
        color:#22D3EE;
      }
      #projects {
        background-color:#0F172A;
        color:#60A5FA;
      }
      #goals {
        background-color:#111827;
        color:#A78BFA;
      }
      #additional {
        background-color:#1E293B;
        color:#F8FAFC;
      }
      #contact {
        background-color:#1E293B;
        color:#FFFFFF;
      }
      #resume {
        background-color:#0F172A;
        color:#A78BFA;
      }
      button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#3B82F6;
  color:white;
  cursor:pointer;
  margin:10px;
  transition:0.3s;
  font-weight:bold;
}

button:hover{
  background:#2563EB;
  transform:scale(1.05);
}
      span {
        color:#38BDF8
      }
      .card{
  background:#1E293B;
  margin-top:10px;
  padding:25px;
  border-radius:20px;
  max-width:300px;
  width:100%;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #38BDF8;
}
a {
  text-decoration:none;
}
i{
  font-size:30px;
  color:white;
  margin:10px;
  transition:0.3s;
}

i:hover{
  color:#38BDF8;
  transform:scale(1.2);
}
.skills-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}
footer{
  background:#020617;

  padding:20px;

  text-align:center;

  color:#94A3B8;
}
@media(max-width:768px){
  #hero h1{
    font-size:40px;
  }

  .skills-container{
    flex-direction:column;
  }

}
.text{
  color:#38BDF8;
  font-weight:bold;
}
.projects-container{
 display:flex;
 gap:20px;
 flex-wrap:wrap;
}
#contact{
 text-align:center;
}
.contact-icons{
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 gap:20px;
}
.fa-html5{
 color:#E34F26;
}

.fa-css3-alt{
 color:#1572B6;
}

.fa-js{
 color:#F7DF1E;
}